$body_overflow: hidden;
$topHeader_bg: #1d1d1d;
$logo_size: 250px;
$topHeader_padding: 15px 10px;
$topHeader_icon_color: #fff;
$topHeader_icon_size: 20px;
$topHeader_icon_df: flex;
$topHeader_icon_df_position: flex-end;
$topHeader_icon_padding: 30px;
$navbar_bg: #76b400;
$navbar_padding: 20px 10px;
$navbar_nav_item_size: 16px;
$navbar_nav_item_color: #fff;
$navbar_nav_item_margin: 20px;
$input-group_width: 400px;
$input-group_height: 45px;
$btnNavbarSearch_margin_left: -58px;
$form-control_width: 300px;
$form-control_flex: none;
$form_margin: -4rem;
$btnNavbarSearch_display: flex;
$btnNavbarSearch_flex-wrap: wrap;
$btnNavbarSearch_align-content: center;
$btnNavbarSearch_font-size: 20px;
$border-radius: 2.375rem;
$hero_img_height: 100vh;
$hero_img_background-repeat: no-repeat;
$hero_img_background-position: center;
$hero_img_background-size: cover;
$swiper-pagination_left: 0;
$swiper-pagination_bottom: 20%;
$swiper-pagination_width: 100%;
$swiper-pagination-bullet_height_width: 20px;
$swiper-pagination-bullet_background_color: dark;
$swiper-pagination-bullet_active_background_color: #76b400;

body {
  overflow: $body_overflow;
}

.top-header {
  background-color: $topHeader_bg;
  padding: $topHeader_padding;

  .logo img {
    max-width: $logo_size;
  }

  .right-side {
    color: $topHeader_icon_color;
    display: $topHeader_icon_df;
    justify-content: $topHeader_icon_df_position;

    div {
      font-size: $topHeader_icon_size;
      padding-left: $topHeader_icon_padding;
    }
  }

}

.navbar {
  background-color: $navbar_bg !important;
  padding: $navbar_padding !important;

  .nav-item {
    font-size: $navbar_nav_item_size;
    color: $navbar_nav_item_color;
    margin-left: $navbar_nav_item_margin;
  }

  .input-group {
    width: $input-group_width;
    height: $input-group_height;
  }

  #btnNavbarSearch {
    margin-left: $btnNavbarSearch_margin_left;
    display: $btnNavbarSearch_display;
    flex-wrap: $btnNavbarSearch_flex-wrap;
    align-content: $btnNavbarSearch_align-content;
    font-size: $btnNavbarSearch_font-size;
  }

  .form-control {
    border-radius: $border-radius;
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
    width: $form-control_width;
    flex: $form-control_flex;
  }
  form {
    margin-right: $form_margin !important;
  }
}

.hero {
  .hero_img {
    height: $hero_img_height;
    background-repeat: $hero_img_background-repeat;
    background-position: $hero_img_background-position;
    background-size: $hero_img_background-size;
  }

  .swiper-pagination {
    left: $swiper-pagination_left;
    bottom: $swiper-pagination_bottom;
    width: $swiper-pagination_width;

    .swiper-pagination-bullet {
      height: $swiper-pagination-bullet_height_width;
      width: $swiper-pagination-bullet_height_width;
      background-color: $swiper-pagination-bullet_background_color !important;
    }

    .swiper-pagination-bullet-active {
      height: $swiper-pagination-bullet_height_width;
      width: $swiper-pagination-bullet_height_width;
      background-color: $swiper-pagination-bullet_active_background_color !important;
    }
  }
}


.products {
   height: 100%;
   z-index: 999;
   background-color: #1d1d1d;
   position: relative;


  .products_img{
    max-height: 300px;
    height: 300px;
    transition: all ease-in-out 0.4s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}